{{ partial "header" . }}

<section class="section">
  <div class="container">
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}<br /><small>{{ .Date.Format "January 2, 2006" }}</small></h1>
      <div class="content">

      {{ if .Params.intro }}
        <p>{{ .Params.intro }}</p>
        <p><a href="{{ .Permalink }}">Read More</a></p>
      {{ else }}
        {{ .Content}}
      {{ end }}

      </div>
    </article>
    {{ end }}
  </div>
</section>

{{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }}
Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }} {{ if $pag.HasPrev }} ← Newer Posts {{ end }} {{ if $pag.HasNext }} Older Posts → {{ end }}
{{ end }}

{{ partial "footer" . }}
